body {
    position : relative;
    width  : 740px;
    height : 498px;
    margin : 0 auto;
    padding: 1em;
    box-sizing: border-box;
    background : #FFF url(background.jpg);
  
    /*creating grid */
    display  : grid;
    grid-gap : 20px;
    grid-template-columns : repeat(2, 1fr);
    grid-template-rows    : 10em 1em 1em 1em;
  }

  .product-card img{
    width: 10em;
    height:10em;
  }